body {
  background-color: white;
}

.MerComponent {
  background-color: white;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: black;
}

/* !pixel以外で */
.MerComponent header p{
  font-size:40px;
  padding-left:200px;
}

.container {
  margin:150px 40px;
}

#MerTextInput {
  display: block;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  padding: 16px;
  color: black;
  width: 300px;
}

#MerInputLabel {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4em;
  cursor: default;
  align-items: flex-start;
}

#MerButton {
  /* color: var(--alias-color-text-inverse-default); */
  background-color: #4DC9FF;
  color: white;
  font: inherit;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  display: inline-flex;
  -webkit-box-align: center;
  /* align-items: center; */
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding:10px;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  line-height: 1.4em;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  /* vertical-align: middle; */
  word-break: break-word;
  border-color: transparent;
  /* border-style: solid; */
  /* border-width: 1px; */
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, color, fill;
}

#MerDisableButton {
  /* color: var(--alias-color-text-inverse-default); */
  background-color: #575757;
  color: #222427;
  font: inherit;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  display: inline-flex;
  -webkit-box-align: center;
  /* align-items: center; */
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  line-height: 1.4em;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  /* vertical-align: middle; */
  word-break: break-word;
  border-color: transparent;
  /* border-style: solid; */
  /* border-width: 1px; */
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, color, fill;
}

.Title {
  background-color: #222427;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
}

/*---------------------------------
  Error
---------------------------------*/
.error-message {
  font-size: 15px;
  color: #ff7676;
  text-align: left;
}

/*---------------------------------
  Home
---------------------------------*/
.IdandSearch{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}
.input-container{
  display: flex;
}
/*フォーム全体*/
#form1{
  margin-bottom:15px;/*フォームの下に余白*/	 	
  }
  /*検索ボックス*/
  #sbox{ 	
  outline:0;/*クリック時の青い枠線消す*/	
  height:50px;/*検索ボックスの高さ*/	
  padding:0 10px;/*テキスト位置調整*/	 
  border-radius:4px;/*検索ボックスの角を丸める*/		
  background:#eee;/*検索ボックスの背景カラー*/		
  }
  /*検索ボタン*/
  #sbtn{
  width:70px;/*検索ボタンの横幅*/ 
  height:50px;/*検索ボタンの縦幅*/ 
  border-radius:4px;/*検索ボタンの角を丸める*/ 
  background:#4DC9FF;/*検索ボタンの背景カラー*/ 
  border:none;/*検索ボタンの枠線を消す*/ 
  color:#fff;/*検索ボタンのテキストカラー*/ 
  font-size:16px;/*検索ボタンのフォントサイズ*/ 
  }
  /*検索ボタンマウスオーバー時*/
  #sbtn:hover{
  color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/ 
  }

/*---------------------------------
　Item
---------------------------------*/
.w3-card-4 {
  width:100%;
  position: relative;
}

.w3-card-4 img{
   width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom:20px;
}

.w3-card-4 #favorite{
  position: absolute;
  right: 20px;
  bottom: 75px;
  width: 60px;
  height: 60px;
  /* color: #ffffff; */
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.w3-card-4 button i{
  font-size: 2rem;
}

.w3-card-4 #favorite .bi-heart-fill{
  color:#ff7676;
}

.w3-modal .w3-modal-content {
  margin-top:150px;
  padding:20px;
  width:400px;
}

.w3-modal #select-folder label{
  padding-left:10px;
}
/*---------------------------------
　ItemList
---------------------------------*/
/* 
.ItemList {
  background-color: #222427;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
} */

.ItemCards{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  column-gap: 30px;
  row-gap:40px;
  
}

/*---------------------------------
　Listing Button
---------------------------------*/
.AddItem{
  bottom:50px;
  right:100px;
  position:fixed;
}

/*---------------------------------
  Listing
---------------------------------*/

.Listing {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top:30px;
}
.Listing .w3-card-4{
  margin-left: 250px;
  position: unset;
  width: auto;
}
.Listing .w3-container .w3-center h1{
  font-weight:bold;
}
.Listing .w3-card-4 #price{
  border-bottom: dashed 1px #222427;
}

.ListingForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

/*---------------------------------
　ItemDetail
---------------------------------*/
.ItemDetail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.ItemDetailContainer{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top:50px;
}

.ItemDetailContainer img{
  width: 400px;
  height: 400px;
  object-fit: contain;
  margin: 0 50px;
}
.ItemDetailContainer .Detail{
  width:400px;
}
.ItemDetailContainer .ItemNameandImage h1{
  font-weight: bold;
  margin-bottom:30px;
}
.ItemDetailContainer .Detail h1{
  font-weight: bold;
  color:#ff7676;
  text-align: center;
}

.ItemDetailContainer .Detail h3{
  font-weight: bold;
}

.ItemDetailContainer .EditButton {
  /* color: var(--alias-color-text-inverse-default); */
  background-color: #ff7676;
  color: white;
  font: inherit;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  display: inline-flex;
  -webkit-box-align: center;
  /* align-items: center; */
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding:10px;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  line-height: 1.4em;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  /* vertical-align: middle; */
  word-break: break-word;
  border-color: transparent;
  /* border-style: solid; */
  /* border-width: 1px; */
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, color, fill;
}

/*---------------------------------
　UserProfile
---------------------------------*/
.UserProfile {
  margin:20px 100px;
}


.Balance{
  width: 400px;
  margin: 20px 0;
}

/*---------------------------------
　Signup&Login
---------------------------------*/
.SignupContainer{
  width: 100%;
  display: flex;
  justify-content:center;
  margin-top:200px;
}
.LoginContainer{
  width: 100%;
  display: flex;
  justify-content:center;
  margin-bottom:200px;
}
.SigninContainer p{
  text-align: center;
}



/*---------------------------------
　Notfound
---------------------------------*/
.Notfound{
  margin:200px auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:300px;
}

.Notfound p{
  font-size: 2rem;
}